.react-calendar {
  width: 40vw;
  height: 50vh;
  background: white;
  border: 2px solid #799496;
  border-radius: 5%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 5px 1px #d3d3d3;
  padding: 20px;
  padding-top: 30px;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px;
}

.react-calendar button {
  border: 1.5px solid gray;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation button {
  min-width: 44px;
  background-color: #ACC196;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  opacity: 50%;
  color: black;
}
.react-calendar__navigation button[disabled] {
  background-color: pink;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* font-size: 0.75em; */
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #799496;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: lightgrey;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: none;
}
/* this will change the on hover color */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #E9EB9E;
}
.react-calendar__tile--now {
  background: rgb(216, 243, 216);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #799496;
}
.react-calendar__tile--hasActive {
  background: #799496;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #799496;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #799496;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
