.react-calendar {
  width: 600px;
  height: 320px;
  /* margin-left: 1px; */
  background: white;
  border: 1px solid #a0a096;
  border-radius: 5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 5px 5px 5px 1px #d3d3d3;
}
.react-calendar--doubleView {
  width: 50px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin-left: -10px;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  /* margin: 1em;*/
  margin-left: 10px;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10%;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: none;
  border-radius: 50%;
  opacity: 50%;
}
.react-calendar__navigation button[disabled] {
  background-color: none;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.15em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 1em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.15em;
  padding: calc(1.15em / 1.25) calc(0.75em / 1.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: lightgrey;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: none;
}
/* this will change the on hover color */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgb(250, 219, 225);
}
.react-calendar__tile--now {
  background: rgb(216, 243, 216);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgb(216, 243, 216);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #6de9fa;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6de9fa;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
